<header class="font--secondary shadow--secondary ">
    <div class="brand">
        <div class="brand__image">
            <img class="shadow--primary" src="assets/icons/header_homeworld_icon_v2.png">
        </div>
        <div class="brand__name">
            <h1>>HomeWorld_</h1>
        </div>
    </div>

    <nav class="header__nav">
        <div class="header__nav__item">
            <a [routerLink]="['/overview']" routerLinkActive="active" class="font--secondary">Overview</a>
        </div>
        <div class="header__nav__item">
            <a [routerLink]="['/rules']" routerLinkActive="active" class="font--secondary">Rules</a>
        </div>
        <div class="header__nav__item">
            <a [routerLink]="['/board']" routerLinkActive="active" class="font--secondary">Board</a>
        </div>
        <div class="header__nav__item">
            <a [routerLink]="['/objectives']" routerLinkActive="active" class="font--secondary">Objectives</a>
        </div>
        <div class="header__nav__item">
            <a [routerLink]="['/statistics']" routerLinkActive="active" class="font--secondary">Stats</a>
        </div>
        <div class="header__nav__item">
            <a [routerLink]="['/links']" routerLinkActive="active" class="font--secondary">Links</a>
        </div>
    </nav>
</header>