<!-- Hex shape template -->
<svg width="0" height="0" style="position:absolute">
    <defs>
    <polygon 
        id="hex-shape"
        points="25,0 75,0 100,43.3 75,86.6 25,86.6 0,43.3" />
    </defs>
</svg>

<!-- Display -->
<div class="tile" 
    (click)="onSelectTile()"
    [ngClass]="getVariableTileStyles(tile())">

    <svg viewBox="0 0 100 86.6" class="hex">
        <use href="#hex-shape" class="fill" />
        <use href="#hex-shape" class="stroke" />
    </svg>

    <div class="tile__icon">
        <img [src]="tile()?.iconPath" />
    </div>

    <ng-content></ng-content>
</div>
