<div class="wrapper">
    <main class="background--primary">
        <div class="main__hero background--secondary shadow--primary font--secondary">
            <h2>Objectives</h2>
        </div>
        
        <div class="main__section background--secondary shadow--primary font--primary">
            <table class="objective-table">
                <thead class="objective-table__header">
                    <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Point(s)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let tile of getObjectiveTiles();">
                    <td>{{ tile.title }}</td>
                    <td>{{ tile.desc }}</td>
                    <td>{{ tile.weight }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>