
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme((
        color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        ),
        typography: Roboto,
        density: 0,
    ));
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
}


/* ---------- Custom SCSS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Press+Start+2P&display=swap');

/* -- General Mat-* font updates */
.mat-mdc-form-field,
.mat-mdc-form-field * {
  font-family: 'Press Start 2P', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important; 
}

.mat-mdc-select,
.mat-mdc-select *,
.mat-mdc-select-panel,
.mat-mdc-option,
.mat-mdc-option .mdc-list-item__primary-text {
  font-family: 'Press Start 2P', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
}

/* -- Statistics Page Filter */
@include mat.form-field-density(-5);
@include mat.input-density(-5);
@include mat.select-density(-5);

.mat-form-field--no-validation {
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.mat-select--sm.mat-mdc-select-panel {
    padding-block: 2px;    /* tighter top/bottom inside panel */
}

.mat-select--sm .mat-mdc-option {
    min-height: 1.5em;      /* default ~48px */
    padding-inline: 8px;   /* tighter left/right if you like */
}

.mat-select--tinted.mat-mdc-select-panel {
    /* panel base */
    background-color: rgb(194, 194, 194);

    /* control selected/hover/focus row backgrounds */
    --mdc-list-list-item-selected-container-color: rgb(140, 140, 140);
    --mdc-list-list-item-hover-state-layer-color: rgb(170, 170, 170);
    --mdc-list-list-item-focus-state-layer-color: rgb(170, 170, 170);

    /* text colors in the list */
    --mdc-list-list-item-label-text-color: #111;
}

/* Enforce everride defaults for selected dropdown */
.mat-select--tinted.mat-mdc-select-panel
.mat-mdc-option.mdc-list-item--selected { 
    background-color: rgb(140,140,140) !important; 
}

/* Tile Mat Dialog */
.tile-dialog-container,
.tile-dialog-container * {
  font-family: 'Press Start 2P', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
}

.tile-dialog-container .mdc-dialog__surface {
    position: relative;
    background: 
        url('assets/layout/content_background_top.gif') no-repeat top center,
        url('assets/layout/content_background_bottom.gif') no-repeat bottom center,
        url('assets/layout/content_background.gif') repeat-y top center;
    background-size: 100% auto, 100% auto, 96% auto;

    --cap-h: 2em;
    padding-top: var(--cap-h);
    padding-bottom: var(--cap-h);

    border-radius: 1em;
    overflow: hidden;

    background-origin: padding-box, padding-box, content-box;
    background-clip:   padding-box, padding-box, content-box;
}

.tile-dialog-container .mat-mdc-dialog-title      { 
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 

    background: transparent;
    margin: 1em;
}

.tile-dialog-container .mat-mdc-dialog-content    { 
    font-size: 1em; 
    line-height: 1.5; 

    background: transparent;
    margin: 0 1em;
}

.tile-dialog-container .mat-mdc-dialog-actions    { 
    font-weight: 600; 
    background: transparent;
}

/* BoardInfo Mat Dialog */
.board-info-dialog-container,
.board-info-dialog-container * {
  font-family: 'Press Start 2P', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
}

.board-info-dialog-container .mdc-dialog__surface {
    position: relative;
    background: 
        url('assets/layout/content_background_top.gif') no-repeat top center,
        url('assets/layout/content_background_bottom.gif') no-repeat bottom center,
        url('assets/layout/content_background.gif') repeat-y top center;
    background-size: 100% auto, 100% auto, 96% auto;

    --cap-h: 2em;
    padding-top: var(--cap-h);
    padding-bottom: var(--cap-h);

    border-radius: 1em;
    overflow: hidden;

    background-origin: padding-box, padding-box, content-box;
    background-clip:   padding-box, padding-box, content-box;
}

.board-info-dialog-container .mat-mdc-dialog-title      { 
    font-weight: 700; 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 

    background: transparent;
    margin: 1em;
}

.board-info-dialog-container .mat-mdc-dialog-content    { 
    font-size: 1em; 
    line-height: 1.5; 

    background: transparent;
    margin: 0 1em;
}

.board-info-dialog-container .mat-mdc-dialog-actions    { 
    font-weight: 600; 

    background: transparent;
}