html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    /*font-family: "Michroma", sans-serif;*/
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: black;
}

/* Remove the box for dynamic content */
router-outlet {
    display: content;
}

/* GreyScale */
/* .background--content {
    background-color: rgb(194, 194, 194);
}

.background--shallow {
    background-color: rgb(146, 146, 146);
}

.background--deep {
    background-color: rgb(255, 255, 255);
}  */

/* OSRS Styling */
.background--deep {
    background-color: #0D0B09;
}

.background--shallow {
    background-image: url('assets/layout/app_background.jpg');
    background-size: 100% auto; 
    
    background-repeat: repeat-y;
    background-position: center; 
}

.background--content {
    background: url('assets/layout/content_background.gif') repeat-y top center;
    background-size: 98% auto; 

    position: relative;

    background-origin: content-box;
    background-clip: content-box;

    padding-top: 2em;
    padding-bottom: 2em;

    margin-top: 2em;
    margin-bottom: 1em;

    z-index: 1;
}

.background--content::before {
    content: "";
    background: url('assets/layout/content_background_top.gif') no-repeat top center;
    background-size: 100% auto; 

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4em;

    z-index: 0;  
}

.background--content::after {
    content: "";
    background: url('assets/layout/content_background_bottom.gif') no-repeat bottom center;
    background-size: 100% auto; 

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4em; 
    
    z-index: 0;
}

.background--content > * {
    position: relative;
    z-index: 2;
}

.font--logo {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.font--content {
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    color: black;
}

.font--content-header {
    font-family: "Press Start 2P", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    /* color: black; */
    color: #6D4211;
}

.font--secondary {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: white;
}

.shadow--primary {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Better text fit for Dialog */
.cdk-overlay-pane.tile-dialog-container .mat-mdc-dialog-content {
  max-height: none !important;
  overflow: visible !important;
}

.cdk-overlay-pane.board-info-dialog-container .mat-mdc-dialog-content {
  max-height: none !important;
  overflow: visible !important;
}

/* External styling for rules templating fetch -- */
.rules-template .main__section {
    margin: 2em;
    padding: 2em;

    display: flex;
    flex-direction: column;

    border-radius: 1.5em;
}

.rules-template .main__section__header {
    width: auto;
}

.rules-template .main__section__sub-header {
    width: auto;
}

.rules-template .main__section__body {
    line-height: 2em;
    margin-left: 2em;
}

.rules-template .main__section__sub-body {
    width: 70%;
    margin-left: 3em;
}
