html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    /*font-family: "Michroma", sans-serif;*/
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: black;
}

/* Remove the box for dynamic content */
router-outlet {
    display: content;
}

/* GreyScale */
/* .background--content {
    background-color: rgb(194, 194, 194);
}

.background--shallow {
    background-color: rgb(146, 146, 146);
}

.background--deep {
    background-color: rgb(255, 255, 255);
}  */

/* Option 1: Solarized Dark */
.background--content {
    background-color: #004052;
}

.background--shallow {
    background-color: #002b36;
}

.background--deep {
    background-color: #00212b;
} 

.font--primary {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    /* color: black; */
    color: #93a1a1; /* Solarized Dark */
}

.font--secondary {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    /* color: black; */
    color: #859900; /* Solarized Dark */
}

.shadow--primary {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Better text fit for TileDialog */
.cdk-overlay-pane.tile-dialog-container .mat-mdc-dialog-content {
  max-height: none !important;
  overflow: visible !important;
}

/* External styling for rules templating fetch -- */
.rules-template .main__section {
    margin: 2em;
    padding: 2em;

    display: flex;
    flex-direction: column;

    border-radius: 1.5em;
}

.rules-template .main__section__header {
    width: auto;
}

.rules-template .main__section__sub-header {
    width: auto;
}

.rules-template .main__section__body {
    line-height: 2em;
    margin-left: 2em;
}

.rules-template .main__section__sub-body {
    width: 70%;
    margin-left: 3em;
}
