<h3 mat-dialog-title>{{ tile.title }}</h3>

<div mat-dialog-content>
    <!-- Persistent text -->
    <p><b>{{ tile.weight }} point(s)</b></p>
    <p>{{ tile.desc }}</p>

    <!-- Conditional text -->
    <p *ngIf="showReservedBy()"><b>Reserved By: {{ reservedByCtrl.value }}</b></p>
    <p *ngIf="showCompletedBy()"><b>Completed By: {{ completedByCtrl.value }}</b></p>

    <!-- Checkbox & input control for completion -->
    <mat-checkbox *ngIf="showIsCompleted()" [formControl]="isCompletedCtrl">Mark Complete</mat-checkbox>
    <mat-form-field *ngIf="showCompletedByInput()">
        <mat-label>Username</mat-label>
        <mat-select [formControl]="completedByCtrl">
            <mat-option value="">—</mat-option>
            <mat-option *ngFor="let p of playerStore.players()" [value]="p.displayName">
                {{ p.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Checkbox & input control for reservation -->
    <mat-checkbox *ngIf="showIsReserved()" [formControl]="isReservedCtrl">Reserve?</mat-checkbox>
    <mat-form-field *ngIf="showReservedByInput()">
        <mat-label>Username</mat-label>
        <mat-select [formControl]="reservedByCtrl">
            <mat-option value="">—</mat-option>
            <mat-option *ngFor="let p of playerStore.players()" [value]="p.displayName">
                {{ p.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button *ngIf="!this.isEdit" mat-button (click)="onEdit()">Edit</button>
    <button *ngIf="this.isEdit" mat-button
        (click)="onSave()"
        [disabled]="disableSave()">
        Save
    </button>
    <button mat-button (click)="onClose()">Close</button>
</div>