<main>
    <div class="main__hero background--content shadow--primary font--secondary">
        <h2>Links</h2>
    </div>
    <div class="main__section background--content shadow--primary font--primary">
        <p><b>Event Sign-Up:</b>
            <a [attr.href]="urls.SIGN_UP" target="_blank" rel="noopener noreferrer">
                Sign-Up Sheet
            </a></p>
        <p><b>Gameboard Suggestions:</b>
            <a [attr.href]="urls.OBJECTIVE_SUGGESTIONS" target="_blank" rel="noopener noreferrer">
                Suggestion Box - Objectives
            </a></p>
        <p><b>General Suggestions:</b>
            <a [attr.href]="urls.GENERAL_SUGGESTIONS" target="_blank" rel="noopener noreferrer">
                Suggestion Box - General
            </a></p>
        <p><b>Clan Events Plugin:</b>
            <a [attr.href]="urls.CLAN_EVENTS_PLUGIN" target="_blank" rel="noopener noreferrer">
                Install/Config Instructions
            </a></p>
        <p><b>Objective Screenshots:</b>
            <a [attr.href]="urls.SCREENSHOT_SUBMISSION" target="_blank" rel="noopener noreferrer">
                Submission Instructions
            </a></p>
    </div>
</main>