<main class="background--primary">
    <div class="main__hero background--secondary shadow--primary font--secondary">
        <h2>Links</h2>
    </div>
    <div class="main__section font--primary">
        <p><b>Event Sign-Up:</b>
            <a href="https://docs.google.com/spreadsheets/d/1h5qAThMMVmoqVtdRWmY42r4LmajNQ2cNYQdvBfEX2M4/edit?gid=1276414027#gid=1276414027">
                Sign-Up Sheet
            </a></p>
        <p><b>Gameboard Suggestions:</b>
            <a href="https://docs.google.com/spreadsheets/d/1h5qAThMMVmoqVtdRWmY42r4LmajNQ2cNYQdvBfEX2M4/edit?gid=0#gid=0">
                Suggestion Box - Objectives
            </a></p>
        <p><b>General Suggestions:</b>
            <a href="https://docs.google.com/spreadsheets/d/1h5qAThMMVmoqVtdRWmY42r4LmajNQ2cNYQdvBfEX2M4/edit?gid=601091218#gid=601091218">
                Suggestion Box - General
            </a></p>
    </div>
</main>