<div class="font--primary">
    <p>- Select a Tile to get more information about its objective</p>
    <br>
    <p>- Players can mark a Tile as "Reserved" or "Completed" by selecting a Tile & clicking the "Edit" button.</p>
    <p>- Marking a Tile as "Reserved" indicates to your team that you would like to be the player responsible for the objective.</p>
    <p>- Marking a Tile as "Completed" indicates to your team that you have successfully completed the objective & submitted a screenshot on Discord.</p>
    <br>
    <p></p>- Please see the "Rules" page for more detailed information regarding Tiles and progression.</p>
</div>