<div class="main__section font--content">
    <h3 class="main__section__header font--content-header">Objective Completion</h3>
    <div class="main__section__body">
        - The Clan Events plugin must be installed via Runelite & configured.<br>
        <p class="main__section__sub-body">- Check the "Links" tab in the top navigation for instructions on how to setup the pluigin.</p>
        <p class="main__section__sub-body">- <b>If you have any issues with installation or configuration, please reach out to a Clan Admin.</b></p>
        - As an objective is completed, a full-client screenshot must be taken. (with the Clan Event plugin data visible!)<br>
        - Screenshots should be submitted via your team's Discord loot thread.
        <p class="main__section__sub-body">- Check the "Links" tab in the top navigation for instructions on how to correctly submit screenshots.</p>
    </div>
    <br>

    <h3 class="main__section__header font--content-header">General Gameplay</h3>
    <div class="main__section__body">
        - <b>RESTRICTION:</b> No "DOLO" strats. 1 account per player may be used to participate.<br>
        - <b>RESTRICTION:</b> You may not group with players outside of the event for any content, however you may group with players from the opposing team.<br>
        <br>
        - All members of a team start on the board's grey center tile.<br>
        - Players may work on any tile adjacent to the start tile or a completed tile.<br>
        - All members of a team share progress on the board & on a tile.<br>
        <p class="main__section__sub-body">- i.e. If I complete a tile, unlocking those adjacent, any of my team members can begin the unlocked adjacent tile(s).<br></p>
        <p class="main__section__sub-body">- i.e. If a tile requires 500 monkey laps, 5 team members could each do 100 laps to complete the objective.<br></p>
        - One drop may not be used for multiple tile completions.<br>
        <p class="main__section__sub-body">- i.e. If your first raid drop is a mega-rare, it will only count for the mega-rare tile.<br></p>
    </div>
    <br>

    <h3 class="main__section__header font--content-header">Special Tiles</h3>
    <h4 class="main__section__sub-header font--content-header">Warp Tiles</h4>
    <div class="main__section__body">
        - These tiles are indicated by pulsing, colored borders.<br>
        - When completed, the team can move to any of the other same-colored tiles on the board.<br>
        - If the destination tile has an objective, it must be completed before unlocking adjacent tiles.<br>
        - If the destination tile has no objective, adjacent tiles are unlocked immediately.<br>
    </div>
    <h4 class="main__section__sub-header font--content-header">Requirement Tiles</h4>
    <div class="main__section__body">
        - These objectives are the central group of red tiles at the top of the board.<br>
        - Rather than pathing or warping, these are each unlocked by a different requirement - usually a related tile somewhere on the board.<br>
        - These tiles may be selected to see their pre-requisite(s).
    </div>
    <br>

    <h3 class="main__section__header font--content-header">Scoring</h3>
    <h4 class="main__section__sub-header font--content-header">Standard</h4>
    <div class="main__section__body">
        Easy [green] tiles: 1 point(s)<br>
        Medium [orange] tiles: 2 point(s)<br>
        Hard [red] tiles: 3 point(s)<br>
    </div>
    <h4 class="main__section__sub-header font--content-header">Bonus</h4>
    <div class="main__section__body">
        - 5 bonus points are earned for each completed "island" of tiles.<br>
    </div>
    <br>
</div>