<div class="wrapper">
    <main>
        <div class="main__hero background--content shadow--primary font--secondary">
            <h2>Statistics</h2>
        </div>

        <div class="main__section background--content shadow--primary font--primary">
            <h3>Scores by Team</h3>
            <table class="statistics-table">
                <thead class="statistics-table__header">
                    <tr>
                    <th>Team</th>
                    <th>Score</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let teamScore of totalsByTeam();">
                    <td>{{ teamScore.teamName }}</td>
                    <td>{{ teamScore.total }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="player-scores-header">
                <h3>Scores by Player</h3>
                <mat-form-field class="mat-form-field--no-validation mat-form-field--tinted" appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select [formControl]="teamFilterCtrl" panelClass="mat-select--sm mat-select--tinted">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let name of teamFilterValues()" [value]="name">
                            {{ name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <table class="statistics-table">
                <thead class="statistics-table__header">
                    <tr>
                    <th>Player</th>
                    <th>Score</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let playerScore of totalsByPlayer();">
                    <td>{{ playerScore.playerName }}</td>
                    <td>{{ playerScore.score }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>