<main class="board" [ngStyle]="boardStyle()">

    <div class="board__team-nav">
        <div class="board__team-nav__tab font--secondary shadow--secondary"
            *ngFor="let team of getTeams()"
            (click)="selectTeam(team.id)"
            [attr.aria-selected]="team.id === selectedTeam()">
            <a>{{ team.name }}</a>
        </div>
    </div>

    <div class="board__info">
        <button
            mat-icon-button
            class="board__info__icon"
            (click)="triggerBoardInfoDialog()"
            [class.flash]="!hasSeenBoardInfo()"
            [attr.aria-selected]="this.isOpenBoardInfo()"
            aria-label="Board info">
            <mat-icon>info</mat-icon>
        </button>
    </div>

    <div class="board__origin">
        <div class="hex-wrap" 
        *ngFor="let gridTile of gridTiles();"
        [ngStyle]="tileStyle(gridTile)">
            <app-tile 
                [tileId]="gridTile.tileId"
                [tileData]="getTileByTeam(gridTile.tileId)"></app-tile>
        </div>
    </div>

</main>
