:host {
    display: contents; /*ignore wrapper element from router-outlet*/
}

.board { 
    position: relative;
}

.board__origin {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%); /* place by center */
}

.hex-wrap {
    position: absolute;
    transform: translate(-50%, -50%); /* place by center */
}