<div class="wrapper background--content">
    <main>
        <div class="main__hero font--content-header">
            <h2>Overview</h2>
        </div>
        <div class="main__section font--content">
            <h3 class="font--content-header">{{ eventStore.event()?.title }}</h3>
            <p><b>Start:</b> {{ eventStore.event()?.startDt | date:'short' }}</p>
            <p><b>End:</b> {{ eventStore.event()?.endDt | date:'short' }}</p>
            <p><b>Registration Fee:</b> {{ eventStore.event()?.buyIn }}</p>
            <br/>

            <h3 class="font--content-header">Teams</h3>
            <div class="main__section__teams" *ngFor="let t of teamStore.teams();">
                <p><b>{{ t.name }}</b></p>
                <p>{{ t.playerNames.join(" - ") }}</p>
            </div>
            <br/>

            <h3 class="font--content-header">Donors</h3>
            <div class="main__section__donors">
                <p>CTFU: 6 bonds [5 to winning team + 1 to highest score]</p><br>
                <p>Tenzo: 13m</p><br>
                <p>nasty_haze: 30m [15m to highest score on each team]</p><br>
                <p>Taxol: 11m [winning team split]</p><br>
                <p>Osmium Oats: 15.5m [winning team split]</p><br>
            </div>
            <br/>
            <br/>
            <p>Players may find event resources using the navigation at the top of this page.</p>
        </div>
    </main>
</div>