<div class="wrapper">
    <main class="background--primary">
        <div class="main__hero background--secondary shadow--primary font--secondary">
            <h2>Overview</h2>
        </div>
        <div class="main__section font--primary">
            <h3>{{ overview_fields.EVENT_TITLE }}</h3>
            <hr class="shadow--primary"/>
            <p><b>Start:</b> {{ overview_fields.START_DT }}</p>
            <p><b>End:</b> {{ overview_fields.END_DT }}</p>
            <br/>
            <p><b>Team 1: {{ overview_fields.TEAM_NAME_1 }}</b></p>
            <p><b>Members:</b> {{ overview_fields.TEAM_MEMBERS_1 }}</p>
            <p><b>Team 2: {{ overview_fields.TEAM_NAME_2 }}</b></p>
            <p><b>Members:</b> {{ overview_fields.TEAM_MEMBERS_2 }}</p>
            <br/>
            <hr class="shadow--primary"/>
            <br/>
            <p>Players may find event resources using the navigation at the top of this page.</p>
        </div>
    </main>
</div>